
body{
    margin: 0;
    padding:0;
}
header{
    display: block;
    top: 0;
    margin: 0px;
    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

}
aside >div{
    float: left;
    font-color: #FFFFFF;
}
header >img{
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    width: 3em;
    height: 3em;

}
aside{
    width: 100%;
    height: 4em;
    background: rgba(74,74,74,.5);
}

