/*公共样式清除*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none !important;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

body {
    text-align: center;
    overflow-x: hidden
}

html {
    overflow-x: hidden
}


/**********导航栏部分*************/

header {
    height: 50px;
    margin: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav>li>a {
    line-height: 35px;
}

.fatherNavBar button {
    border: none;
    line-height: 62px;
    background-color: transparent;
    color: #777;
    margin: 0px;
    font-size: 14px;
}

.fatherNavBar {
    overflow: hidden;
    padding: 0px;
}

.fatherNavBar button:hover {
    border: none;
    color: #333;
}

.fatherNavBar button:focus {
    outline: none;
}

.DNUInav {
    padding: 8px 0px 3px 8px;
    color: #777;
    font-size: 13px;
    cursor: pointer;
}

.DNUInav:hover {
    background-color: #eeeeee;
}

.navbar-default .navbar-nav>.active>a {
    color: #2b85d2;
}


/* 响应式 */

@media screen and (min-width: 1200px) {
    .navbar-nav {
        float: right;
    }
    .swiperOne {
        height: 600px;
        min-width: 1120px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) and (min-width:992px) {
    /* ipad pro */
    .mao ul>li {
        float: left;
        font-size: 16px;
        width: 20%;
        background: lightgoldenrodyellow;
        height: 50px !important;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 5px;
    }
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .nav>li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }
    .fatherNavBar button {
        border: none;
        line-height: 62px;
        background-color: transparent;
        color: #777;
        margin: 0px;
        font-size: 11px;
    }
    .nav>li>a {
        padding-left: 11px;
        padding-right: 11px;
    }
    .new-row {
        padding: 0 10px;
        text-align: center;
    }
    .navbar-nav {
        float: right;
    }
    .swiperOne {
        height: 600px;
        min-width: 1120px;
        overflow: hidden;
        margin: auto;
    }
    .swipertwo {
        width: 90% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5% !important;
    }
    .two-path {
        padding-left: 30px !important;
    }
    .two-path p:nth-child(1) {
        margin-top: 60px !important;
        color: #0e73c0;
        font-size: 30px;
    }
    .two-path p:nth-child(3) {
        margin-top: 15px !important;
        color: #888;
        font-size: 20px;
    }
    .two-path p:nth-child(4) {
        margin-top: 10px !important;
        color: #888;
        font-size: 15px;
        line-height: 25px;
    }
    .three-path>p:nth-child(1) {
        text-align: center;
    }
    .line {
        margin-top: 15px !important;
    }
    .path_wit p {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 992px) and (min-width:768px) {
    /* ipad */
    .maomao .btn {
        font-size: 14px !important;
    }
    .mao ul>li {
        float: left;
        font-size: 16px;
        width: 20%;
        background: lightgoldenrodyellow;
        height: 50px !important;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 5px;
    }
    .movie {
        margin: 30px auto 30px auto !important;
        width: 640px !important;
    }
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .navbar-nav {
        float: right;
    }
    .nav>li>a {
        padding-left: 7px;
        padding-right: 7px;
        font-size: 13px;
    }
    .fatherNavBar button {
        border: none;
        line-height: 62px;
        background-color: transparent;
        color: #777;
        margin: 0px;
        font-size: 11px;
        padding: 1px 5px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        width: 768px;
    }
    .navbar-brand {
        /* padding: 15px 10px; */
        height: 40px !important;
        margin-top: 12px !important;
    }
    .swiperOne {
        height: 650px;
        min-width: 992px;
        overflow: hidden;
        margin: auto;
    }
    .news img {
        width: 80% !important;
    }
    .new-title {
        margin: 20px 0 !important;
    }
    .swipertwo {
        width: 80% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10% !important;
    }
    .two-path {
        padding-left: 30px !important;
        text-align: left !important;
    }
    .two-button {
        margin: auto;
    }
    .facebook-section {
        background: url(../img/face.jpg) no-repeat 0px 0px;
        background-size: cover;
        height: auto;
        height: 400px !important;
    }
    .ico-bar {
        width: 300px;
        margin: 30px auto 0px auto !important;
        height: 50px;
    }
    .tag-bar i {
        display: none !important;
    }
    .tag-bar {
        margin: 80px auto 0 auto;
        width: 90%;
        text-align: left;
        height: 50px !important;
    }
    .tag-bar a {
        font-size: 25px;
        margin-left: 0px !important;
        margin-top: 0px !important;
        color: #888;
        position: relative !important;
        text-decoration: none;
    }
    .tag-bar li {
        margin: 20px 0 20px 0;
        height: 30px !important;
        width: 33% !important;
        text-align: center !important;
        float: left;
    }
    .tag-infor {
        display: none !important;
    }
    .tag-show {
        display: none !important;
    }
    .tag-text {
        margin-top: 60px;
        height: 310px !important;
    }
    .tag-text i {
        font-size: 80px !important;
        margin: auto;
        display: block;
    }
    .three-path>p:nth-child(1) {
        text-align: center;
    }
    .line {
        margin-top: 15px !important;
    }
    .path_wit p {
        padding: 0px 30px;
    }
    .new-title {
        padding-left: 40px;
    }
    .new-text {
        padding-left: 40px;
    }
    .path_blu2 {
        height: 630px !important;
    }
    .tag-bar {
        margin-top: 50px !important;
    }
}

@media screen and (max-width:767px) and (min-width:200px) {
    /* iphnoe */
    .one-titles {
        font-size: 20px !important;
        margin-top: 30px !important;
    }
    .maomao {
        display: none;
    }
    .mao ul>li {
        float: left;
        font-size: 13px !important;
        width: 20%;
        background: lightgoldenrodyellow;
        height: 50px !important;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 8px !important;
    }
    .sponsors_title_plus {
        font-size: 18px !important;
        padding-left: 10px;
    }
    .sponsors-titles {
        font-size: 23px !important;
    }
    .sponsors-tit {
        font-size: 20px !important;
    }
    .Sponsors-blu p {
        font-size: 14px !important;
    }
    .cdio-line {
        width: 80px !important;
    }
    .movie {
        margin: 30px auto 30px auto !important;
        width: 290px !important;
    }
    .cdio-title {
        font-size: 18px !important;
    }
    .cdio-text {
        font-size: 13px !important;
    }
    .cdio-img-text {
        font-size: 14px !important;
    }
    .cdio-table {
        word-break: break-all !important;
    }
    .cdio-table th {
        padding: 2px !important;
    }
    .cdioImg2 {
        width: 80% !important;
    }
    .cdioImg1 {
        width: 95% !important;
    }
    .one-title a {
        margin-top: 0px !important;
    }
    .DNUInav {
        padding: 15px 0px 3px 15px;
        color: #777;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
    }
    .fatherNavBar button {
        line-height: 50px;
    }
    .navbar-toggle {
        margin-top: 16px !important;
    }
    .swiperOne {
        height: 330px !important;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
    .introduce {
        position: absolute;
        margin-top: -230px !important;
        z-index: 5;
        color: #fff;
        width: 100%;
        line-height: 30px !important;
        font-size: 20px !important;
        text-shadow: 1px 2px 15px #000;
        /* margin: auto; */
    }
    .introduce p {
        font-size: 15px !important;
    }
    .introduce_button {
        border-radius: 50px;
        border: 3px solid #fff;
        background-color: transparent;
        font-size: 18px !important;
        padding-left: 5px;
        padding-right: 5px;
        width: 177px !important;
        font-style: italic;
        margin: auto;
    }
    .news img {
        width: 90% !important;
    }
    .swipertwo {
        width: 80% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10% !important;
    }
    .two-path {
        text-align: left !important;
    }
    .two-button {
        margin: auto;
    }
    .one-title {
        font-size: 20px !important;
        margin-top: 30px !important;
        text-align: left !important;
    }
    .path_wit p {
        padding-left: 50px;
        font-size: 14px !important;
        padding: 10px 20px !important;
        line-height: 24px !important;
        word-wrap: keep-all !important;
        text-align: left;
    }
    .Sponsors_wit p {
        font-size: 14px !important;
    }
    .new-title {
        padding: 0 15px !important;
        font-size: 18px !important;
    }
    .new-text {
        padding: 0 15px !important;
        font-size: 14px !important;
    }
    .two-path p:nth-child(1) {
        padding-left: 10px;
        font-size: 20px !important;
        margin-top: 50px !important;
    }
    .two-path p:nth-child(3) {
        padding-left: 10px;
        font-size: 15px !important;
        margin-top: 20px !important;
    }
    .line {
        margin-top: 20px !important;
        margin-left: 10px !important;
    }
    .two-path p:nth-child(4) {
        padding-left: 10px;
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .swipertwo {
        height: 250px !important;
        margin: 50px auto 50px auto !important;
    }
    .two-button {
        font-size: 15px !important;
        width: 170px !important;
        margin: 22px auto 50px auto !important;
    }
    .three-path>p:nth-child(1) {
        margin-top: 50px !important;
        margin-bottom: 0px !important;
        font-size: 25px !important;
    }
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .facebook-section {
        background-size: cover;
        height: auto;
        height: 400px !important;
    }
    .ico-bar {
        width: 300px;
        margin: 20px auto 0px auto !important;
        height: 50px;
    }
    .tag-bar i {
        display: none !important;
    }
    .tag-bar {
        margin: 20px auto 0 auto !important;
        width: 90%;
        text-align: left;
        height: 15px !important;
    }
    .tag-bar a {
        font-size: 13px !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        color: #888;
        position: relative !important;
        text-decoration: none;
    }
    .tag-bar li {
        margin: 20px 0 20px 0;
        height: 30px !important;
        width: 33% !important;
        text-align: center !important;
        float: left;
    }
    .tag-infor {
        display: none !important;
    }
    .tag-show {
        display: none !important;
    }
    .tag-text {
        margin-top: 60px;
        height: 250px !important;
    }
    .tag-text i {
        font-size: 60px !important;
        margin: auto;
        display: block;
    }
    .tag-text h1 {
        font-size: 15px !important;
        color: #666;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }
    .tag-text p {
        color: #888;
        line-height: 20px !important;
        font-size: 13px !important;
        text-align: left;
        padding: 0px 10px !important;
        width: 100% !important;
        margin: auto;
        font-weight: 300;
    }
    .path_blu2 {
        height: 450px !important;
    }
}


/* 轮播 */

.swiperOne>div>div:nth-child(1) {
    background: url(../img/bg1.jpg) center top / auto 100% no-repeat;
}

.swiperOne>div>div:nth-child(2) {
    background: url(../img/bg2.jpg) center top /auto 100% no-repeat;
}

.swiperOne>div>div:nth-child(3) {
    background: url(../img/bg3.jpg) center top/auto 100% no-repeat;
}

.swiperOne>div>div:nth-child(4) {
    background: url(../img/bg4.jpg) center top/auto 100% no-repeat;
}

.bg2>div:nth-child(1) {
    background: url(../img/1.jpg) center top / 100% auto no-repeat;
}

.bg2>div:nth-child(2) {
    background: url(../img/2.jpg) center top / 100% auto no-repeat;
}

.bg2>div:nth-child(3) {
    background: url(../img/3.jpg) center top / 100% auto no-repeat;
}

.bg2>div:nth-child(4) {
    background: url(../img/4.jpg) center top / 100% auto no-repeat;
}


/* 描述 */

.introduce {
    position: absolute;
    margin-top: -450px;
    z-index: 5;
    color: #fff;
    width: 100%;
    line-height: 60px;
    font-size: 40px;
    text-shadow: 4px 2px 15px #000;
    font-weight: 800;
    /* margin: auto; */
}

.introduce p {
    font-size: 25px;
}

.introduce_button {
    border-radius: 50px;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
    font-style: italic;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
}

.introduce_button:hover {
    color: #eee;
    border: 3px solid #eee;
}


/* 布局 */

.path_wit {
    width: 100%;
    background-color: #fff;
}

.path_blu {
    width: 100%;
    background-color: #eff7fe;
}

.content {
    max-width: 1120px;
    height: 100%;
    margin: auto;
}


/* news */

.one-title {
    color: #666;
    font-size: 33px;
    margin-top: 50px;
    text-align: left !important;
    padding-left: 10px;
}

.tongyi {
    color: #0e73c0 !important;
}

.one-title a {
    color: #888;
    float: right;
    font-size: 19px;
    vertical-align: bottom;
    margin-top: 25px;
    padding-right: 10px;
    cursor: pointer;
}

.one-titles {
    color: #666;
    font-size: 33px;
    margin-top: 50px;
}

.one-line {
    width: 90px;
    height: 3px;
    background-color: #2b85d2;
    /* float: left; */
    margin: 5px 0 5px 10px;
}

.path_wit p {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 28px;
    text-align: left;
}

.news {
    padding-top: 20px;
}

.new-title {
    color: #666;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    min-height: 56px;
}

.new-text {
    color: #666;
    margin-bottom: 35px;
    text-align: left;
    min-height: 50px;
}

.news img {
    width: 100%;
}

.new-row {
    text-align: center;
}


/* two */

.swipertwo {
    overflow: hidden;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.two-path {
    text-align: left;
}

.two-path p:nth-child(1) {
    margin-top: 80px;
    color: #0e73c0;
    font-size: 30px;
}

.two-path p:nth-child(3) {
    margin-top: 30px;
    color: #888;
    font-size: 20px;
}

.two-path p:nth-child(4) {
    margin-top: 20px;
    color: #888;
    font-size: 15px;
    line-height: 25px;
}

.line {
    margin-top: 30px;
    height: 2px;
    width: 100px;
    background-color: #888;
}

.two-button {
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 30px;
    width: 200px;
    margin-top: 20px;
    font-style: italic;
    cursor: pointer;
    color: #888;
    border: solid 3px #888;
}

.two-button:hover {
    color: #666;
    border: solid 3px #666;
}


/* three */

.three-path {
    text-align: center;
}

.three-path>p:nth-child(1) {
    color: #666;
    font-size: 33px;
    margin-top: 80px;
}

.three-path>p:nth-child(2) {
    line-height: 30px;
    margin-top: 30px;
}

.three-path span {
    font-weight: 700;
}


/* tag */

.tag-bar {
    margin: 80px auto 0 auto;
    width: 90%;
    text-align: left;
    height: 430px;
}

.tag-bar a {
    font-size: 25px;
    margin-left: 80px;
    margin-top: 17px;
    color: #888;
    position: absolute;
    text-decoration: none;
}

.tag-bar li {
    margin: 20px 0 20px 0;
    height: 130px;
    /* align-content: top; */
}

.tag-bar i {
    color: #2b85d2;
    width: 70px;
}

.tag-bar a:hover {
    text-decoration: none;
    color: #666;
}

.tag-infor {
    height: 415px;
    width: 2px;
    background-color: #ddd;
    float: right;
    margin-top: -450px;
    margin-right: 70px;
}

.tag-show {
    width: 6px;
    background: #2b85d2;
    height: 70px;
    right: 83px;
    position: absolute;
    transition: all .8s;
    top: 80px;
}

.tag-text {
    margin-top: 35px;
}

.tag-text i {
    font-size: 110px;
    margin: auto;
    display: block;
}

.tag-text h1 {
    font-size: 30px;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag-text p {
    color: #888;
    line-height: 25px;
    font-size: 16px;
    text-align: left;
    width: 500px;
    margin: auto;
    font-weight: 300;
}


/* footer */

.facebook-section {
    background: #212224 no-repeat 0px 0px;
    background-size: cover;
    height: auto;
    height: 250px;
}

.center {
    left: 0;
    right: 0;
    margin: auto;
    color: aliceblue;
    font-size: 20px;
    padding-top: 20px;
    height: 200px;
    max-width: 1200px;
}

.footer-one {
    color: #555b5b;
    font-size: 10px;
}

.footer-one img {
    margin-top: 30px;
}

.footer-one p {
    width: 300px;
    margin: auto;
    padding-left: 10px;
    text-align: left;
    line-height: 20px;
}

.ico-bar {
    width: 300px;
    margin: 40px auto 0px auto;
    height: 50px;
}

.fuckkkkkk {
    width: 50px;
    height: 50px;
    background: #474747;
    float: left;
    margin: 0px 10px;
    color: #fff;
    font-size: 32px;
    border-radius: 37px;
}

.fuckkkkkk a {
    color: #fff;
}

.ico-bar button {
    width: 50px;
    height: 50px;
    background: #474747;
    float: left;
    margin: 0px 10px;
    color: #fff;
    font-size: 32px;
    border-radius: 37px;
    padding: 0;
    border: none;
}

.ico-bar button:hover {
    background: #474747;
    color: #fff;
}

.ico-bar button:focus {
    outline: none;
}

.footer-two p {
    width: 300px;
    margin: 30px auto 0px auto;
    padding-left: 10px;
    text-align: left;
    color: #555b5b;
    font-size: 14px;
    line-height: 20px;
}

header {
    position: fixed !important;
    width: 100% !important;
    top: 0px !important;
}

.map {
    height: 500px;
    margin: 50px 0px;
}


/* cdio */

.cdio-title {
    color: #333;
    font-size: 28px;
    margin-top: 50px;
    text-align: left !important;
    padding-left: 10px;
}

.cdio-line {
    width: 150px;
    height: 3px;
    background-color: #2b85d2;
    /* float: left; */
    margin: 5px 0 5px 10px;
    margin-bottom: 30px;
}

.cdioImg1 {
    text-align: center;
    width: 70%;
}

.cdioImg2 {
    width: 50%;
}

.cdio-img-text {
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 5px;
}

.cdio-wit {
    width: 100%;
    background-color: #fff;
}

.cdio-blu {
    width: 100%;
    background-color: #eff7fe;
}

.cdio-text {
    color: #777;
    font-size: 16px;
    text-align: left;
    line-height: 28px;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 25px;
}

.movie {
    margin: 50px auto 50px auto;
    width: 940px;
    z-index: 20;
}

.Sponsors_wit p {
    text-align: left;
    color: #666;
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0px 40px 10px;
}

.Sponsors_wit a {
    color: steelblue;
    cursor: pointer;
}

.Sponsors-blu {
    padding-top: 30px;
    width: 100%;
    background-color: #eff7fe;
}

.Sponsors-blu p {
    text-align: left;
    color: #666;
    font-size: 16px;
    line-height: 28px;
    margin: 30px 0px 30px 10px;
}

.sponsors_emp {
    height: 40px;
    width: 10px;
}

.sponsors-titles {
    color: #666;
    font-size: 25px;
    margin-top: 40px;
}

.sponsors_title_plus {
    color: #333 !important;
    font-size: 23px !important;
    padding-top: 15px;
    margin-bottom: 20px !important;
    text-align: left;
    padding-left: 10px;
}


/* 微调 */

.dropdown-menu>li>a:hover {
    background-color: transparent;
}

.ico-bar i {
    cursor: pointer;
}

.path_blu2 {
    height: 520px;
}

.new-title:hover {
    color: #333;
}

.new-text:hover {
    color: #666;
}

.cdio-table tbody {
    color: #666;
    font-size: 14px;
}

.cdio-table thead th {
    font-weight: 700 !important;
    background-color: #efefef;
}

.cdio-table {
    width: 95%;
    margin: 0px auto 30px auto;
}

.cdio-table th {
    text-align: center;
    font-weight: 500;
    vertical-align: middle !important;
}

.infor-text {
    color: #666;
    font-size: 16px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    margin-bottom: 30px;
}

.sponsors-tit {
    color: #333;
    font-size: 28px;
    margin-top: 50px;
    text-align: left;
    padding-left: 10px;
}

.qqbu+div .tooltip-inner {
    background: url("../img/weixin.jpg") 0 0/100% 100% no-repeat;
    height: 150px;
    width: 150px;
}

.wxbu+div .tooltip-inner {
    background: url("../img/schoo.png") 0 0/100% 100% no-repeat;
    height: 150px;
    width: 150px;
}

.wbsite {
    text-align: left;
    padding-left: 30px;
    font-size: 18px;
    width: 100%;
}

.mao {
    max-width: 1120px;
    margin: auto;
}

.mao ul {
    margin: auto;
    background: lightgoldenrodyellow;
    max-width: 1120px;
}

.mao ul>li {
    float: left;
    font-size: 18px;
    width: 20%;
    background: lightgoldenrodyellow;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.maomao {
    height: 50px;
    border: none;
    padding: .8em 1em;
    background: hsl(210, 13%, 30%);
    text-shadow: 0 1px 1px rgba(220, 220, 220, 0.8);
    padding: 0px;
    word-wrap: break-word;
}

.maomao a {
    color: #fff;
    text-shadow: 0 -1px 1px black;
}

.maomao .btn-default:hover {
    color: #fff !important;
}

.maomao .btn-default {
    border: none;
    background-color: transparent;
    word-wrap: break-word !important;
}

.maomao .btn {
    font-size: 16px;
}

.btn-default:hover {
    background-color: transparent;
}

.gai {
    margin-bottom: 10px !important;
}