/*公共样式清除*/

html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

body {
    text-align: center;
    overflow-x: hidden
}

html {
    overflow-x: hidden
}


/**********导航栏部分*************/

header {
    height: 50px;
    margin: 0px;
}

.navbar {
    margin-bottom: 0px;
}


/* 响应式 */

@media screen and (min-width: 1200px) {
    .navbar-nav {
        float: right;
    }
    .swiperOne {
        height: 600px;
        min-width: 1120px;
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) and (min-width:992px) {
    /* ipad pro */
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .new-row {
        padding: 0 20px;
    }
    .navbar-nav {
        float: right;
    }
    .swiperOne {
        height: 600px;
        min-width: 1120px;
        overflow: hidden;
        margin: auto;
    }
    .swipertwo {
        width: 90% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5% !important;
    }
    .two-path {
        padding-left: 50px !important;
    }
    .two-path p:nth-child(1) {
        margin-top: 60px !important;
        color: #0e73c0;
        font-size: 30px;
    }
    .two-path p:nth-child(3) {
        margin-top: 15px !important;
        color: #888;
        font-size: 20px;
    }
    .two-path p:nth-child(4) {
        margin-top: 10px !important;
        color: #888;
        font-size: 15px;
        line-height: 25px;
    }
    .line {
        margin-top: 15px !important;
    }
}

@media screen and (max-width: 992px) and (min-width:768px) {
    /* ipad */
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .navbar-nav {
        float: right;
    }
    .nav>li>a {
        padding-left: 6px;
        padding-right: 6px;
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        width: 768px;
    }
    .navbar-brand {
        /* padding: 15px 10px; */
        height: 40px !important;
        margin-top: 5px !important;
    }
    .swiperOne {
        height: 650px;
        min-width: 992px;
        overflow: hidden;
        margin: auto;
    }
    .news img {
        width: 80% !important;
    }
    .new-title {
        margin: 20px 0 !important;
    }
    .swipertwo {
        width: 80% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10% !important;
    }
    .two-path {
        text-align: center !important;
    }
    .line {
        margin: auto;
    }
    .two-button {
        margin: auto;
    }
    .facebook-section {
        background: url(../img/face.jpg) no-repeat 0px 0px;
        background-size: cover;
        height: auto;
        height: 400px !important;
    }
    .ico-bar {
        width: 300px;
        margin: 30px auto 0px auto !important;
        height: 50px;
    }
    .tag-bar i {
        display: none !important;
    }
    .tag-bar {
        margin: 80px auto 0 auto;
        width: 90%;
        text-align: left;
        height: 50px !important;
    }
    .tag-bar a {
        font-size: 25px;
        margin-left: 0px !important;
        margin-top: 0px !important;
        color: #888;
        position: relative !important;
        text-decoration: none;
    }
    .tag-bar li {
        margin: 20px 0 20px 0;
        height: 30px !important;
        width: 33% !important;
        text-align: center !important;
        float: left;
    }
    .tag-infor {
        display: none !important;
    }
    .tag-show {
        display: none !important;
    }
    .tag-text {
        margin-top: 60px;
        height: 310px !important;
    }
    .tag-text i {
        font-size: 80px !important;
        margin: auto;
        display: block;
    }
}

@media screen and (max-width:767px) and (min-width:200px) {
    /* iphnoe */
    .swiperOne {
        height: 390px !important;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
    .introduce {
        position: absolute;
        margin-top: -330px !important;
        z-index: 5;
        color: #fff;
        width: 100%;
        line-height: 40px !important;
        font-size: 25px !important;
        text-shadow: 1px 2px 15px #000;
        /* margin: auto; */
    }
    .introduce p {
        font-size: 20px !important;
    }
    .introduce_button {
        border-radius: 50px;
        border: 3px solid #fff;
        background-color: transparent;
        font-size: 18px !important;
        padding-left: 5px;
        padding-right: 5px;
        width: 200px;
        font-style: italic;
        margin: auto;
    }
    .news img {
        width: 90% !important;
    }
    .swipertwo {
        width: 80% !important;
        overflow: hidden;
        height: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 10% !important;
    }
    .two-path {
        text-align: center !important;
    }
    .line {
        margin: auto;
    }
    .two-button {
        margin: auto;
    }
    .one-title {
        font-size: 25px !important;
    }
    .path_wit p {
        font-size: 14px !important;
        padding: 0px 10px !important;
    }
    .new-title {
        padding: 0 15px !important;
        font-size: 18px !important;
    }
    .new-text {
        padding: 0 15px !important;
        font-size: 14px !important;
    }
    .two-path p:nth-child(1) {
        font-size: 27px !important;
    }
    .two-path p:nth-child(3) {
        font-size: 20px !important;
    }
    .two-path p:nth-child(4) {
        font-size: 13px !important;
    }
    .swipertwo {
        height: 250px !important;
        margin: 50px auto 50px auto !important;
    }
    .two-button {
        font-size: 15px !important;
        width: 170px !important;
    }
    .three-path>p:nth-child(1) {
        font-size: 25px !important;
    }
    header {
        position: fixed !important;
        width: 100% !important;
        top: 0px !important;
    }
    .facebook-section {
        background: url(../img/face.jpg) no-repeat 0px 0px;
        background-size: cover;
        height: auto;
        height: 400px !important;
    }
    .ico-bar {
        width: 300px;
        margin: 30px auto 0px auto !important;
        height: 50px;
    }
    .tag-bar i {
        display: none !important;
    }
    .tag-bar {
        margin: 40px auto 0 auto !important;
        width: 90%;
        text-align: left;
        height: 15px !important;
    }
    .tag-bar a {
        font-size: 13px !important;
        margin-left: 0px !important;
        margin-top: 0px !important;
        color: #888;
        position: relative !important;
        text-decoration: none;
    }
    .tag-bar li {
        margin: 20px 0 20px 0;
        height: 30px !important;
        width: 33% !important;
        text-align: center !important;
        float: left;
    }
    .tag-infor {
        display: none !important;
    }
    .tag-show {
        display: none !important;
    }
    .tag-text {
        margin-top: 60px;
        height: 250px !important;
    }
    .tag-text i {
        font-size: 60px !important;
        margin: auto;
        display: block;
    }
    .tag-text h1 {
        font-size: 15px !important;
        color: #666;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }
    .tag-text p {
        color: #888;
        line-height: 20px !important;
        font-size: 13px !important;
        text-align: left;
        width: 130px !important;
        margin: auto;
        font-weight: 300;
    }
}


/* 轮播 */

.swiperOne>div>div:nth-child(1) {
    background: url(../img/bg1.jpg) center top / auto 100% no-repeat;
}

.swiperOne>div>div:nth-child(2) {
    background: url(../img/bg2.jpg) center top /auto 100% no-repeat;
}

.swiperOne>div>div:nth-child(3) {
    background: url(../img/bg3.jpg) center top/auto 100% no-repeat;
}

.bg2>div:nth-child(1) {
    background: url(../img/1.jpg) center top / 100% auto no-repeat;
}

.bg2>div:nth-child(2) {
    background: url(../img/1.jpg) center top / auto 100% no-repeat;
}

.bg2>div:nth-child(3) {
    background: url(../img/1.jpg) center top / auto 100% no-repeat;
}

.bg2>div:nth-child(4) {
    background: url(../img/1.jpg) center top / auto 100% no-repeat;
}


/* 描述 */

.introduce {
    position: absolute;
    margin-top: -450px;
    z-index: 5;
    color: #fff;
    width: 100%;
    line-height: 60px;
    font-size: 40px;
    text-shadow: 1px 2px 15px #000;
    /* margin: auto; */
}

.introduce p {
    font-size: 25px;
}

.introduce_button {
    border-radius: 50px;
    border: 3px solid #fff;
    background-color: transparent;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
    font-style: italic;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
}

.introduce_button:hover {
    color: #eee;
    border: 3px solid #eee;
}


/* 布局 */

.path_wit {
    width: 100%;
    background-color: #fff;
}

.path_blu {
    width: 100%;
    background-color: #eff7fe;
}

.content {
    max-width: 1120px;
    height: 100%;
    margin: auto;
}


/* news */

.one-title {
    color: #777;
    font-size: 33px;
    margin-top: 50px;
}

.path_wit p {
    color: #999;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.news {
    padding-top: 20px;
}

.new-title {
    color: #666;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-text {
    color: #999;
    margin-bottom: 35px;
}

.news img {
    width: 100%;
}


/* two */

.swipertwo {
    overflow: hidden;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.two-path {
    text-align: left;
}

.two-path p:nth-child(1) {
    margin-top: 80px;
    color: #0e73c0;
    font-size: 30px;
}

.two-path p:nth-child(3) {
    margin-top: 30px;
    color: #888;
    font-size: 20px;
}

.two-path p:nth-child(4) {
    margin-top: 20px;
    color: #888;
    font-size: 15px;
    line-height: 25px;
}

.line {
    margin-top: 30px;
    height: 2px;
    width: 100px;
    background-color: #888;
}

.two-button {
    font-size: 20px;
    border-radius: 50px;
    padding: 5px 30px;
    width: 200px;
    margin-top: 20px;
    font-style: italic;
    cursor: pointer;
    color: #888;
    border: solid 3px #888;
}

.two-button:hover {
    color: #666;
    border: solid 3px #666;
}


/* three */

.three-path {
    text-align: center;
}

.three-path>p:nth-child(1) {
    color: #666;
    font-size: 33px;
    margin-top: 80px;
}

.three-path>p:nth-child(2) {
    line-height: 30px;
    margin-top: 30px;
}

.three-path span {
    font-weight: 700;
}


/* tag */

.tag-bar {
    margin: 80px auto 0 auto;
    width: 90%;
    text-align: left;
    height: 430px;
}

.tag-bar a {
    font-size: 25px;
    margin-left: 80px;
    margin-top: 17px;
    color: #888;
    position: absolute;
    text-decoration: none;
}

.tag-bar li {
    margin: 20px 0 20px 0;
    height: 130px;
    /* align-content: top; */
}

.tag-bar i {
    color: #2b85d2;
    width: 70px;
}

.tag-bar a:hover {
    text-decoration: none;
    color: #666;
}

.tag-infor {
    height: 415px;
    width: 2px;
    background-color: #ddd;
    float: right;
    margin-top: -450px;
    margin-right: 70px;
}

.tag-show {
    width: 6px;
    background: #2b85d2;
    height: 70px;
    right: 83px;
    position: absolute;
    transition: all .8s;
    top: 80px;
}

.tag-text {
    margin-top: 60px;
}

.tag-text i {
    font-size: 140px;
    margin: auto;
    display: block;
}

.tag-text h1 {
    font-size: 30px;
    color: #666;
    margin-top: 40px;
    margin-bottom: 30px;
}

.tag-text p {
    color: #888;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
    width: 236px;
    margin: auto;
    font-weight: 300;
}


/* footer */

.facebook-section {
    background: url(../img/face.jpg) no-repeat 0px 0px;
    background-size: cover;
    height: auto;
    height: 250px;
}

.center {
    left: 0;
    right: 0;
    margin: auto;
    color: aliceblue;
    font-size: 20px;
    padding-top: 20px;
    height: 200px;
}

.footer-one {
    color: #555b5b;
    font-size: 10px;
}

.footer-one img {
    margin-top: 50px;
}

.footer-one p {
    width: 300px;
    margin: auto;
    text-align: left;
}

.ico-bar {
    width: 300px;
    margin: 60px auto 0px auto;
    height: 50px;
}

.ico-bar div {
    width: 50px;
    height: 50px;
    background: #474747;
    float: left;
    margin: 0px 10px;
    color: #fff;
    font-size: 32px;
    border-radius: 37px;
}

.footer-two p {
    width: 300px;
    margin: auto;
    text-align: left;
    color: #555b5b;
    font-size: 10px;
}